/* Hides elements containing offensive language */
.offensiveWarning {
    color: red !important;
    font-family: "Franklin Gothic Demi" !important;
    font-weight: bold !important;
}

.redacted {
    color: grey !important;
    font-family: "Franklin Gothic Demi" !important;
    font-weight: bold !important;
}
