/* Redacts elements containing offensive language */
.redacted {
    color: grey;
    font-family: "Franklin Gothic Demi";
    font-weight: bold;
}

[data-tag].blur, [data-tag].blur * {
    text-shadow: 0 0 20px black;
    color: transparent !important;
}
