html, body {
  max-width: 320px;
  max-height: 300px;
  margin: 0;
  padding: 0;
}

html.off {
  max-height: 76px;
}

/*To make the gap between the title and the statistic smaller*/
.ui.basic.segment {
  margin: 0;
}

/* To add some space between statistic and bottom border */
.ui.container.center.aligned {
  margin-bottom: 10px;
}

/* To hide a section in the popup*/
.displayNone {
  display: none;
}

#error-message {
  padding-top: 20px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#error-message > img {
  height: 50px;
  width: 50px;
  text-align: center;
}

/* To change the colour of the popup icon to red */
#blocked-data {
  color: red;
}

/* To change the colour of the popup icon to blue */
#blocked-data.clear {
  color: deepskyblue;
}

/* Remove space around the popup */
#category-popup, #words-popup {
  margin: 0;
  padding: 0;
}

/* Styles the category popup */
.targetPopup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
  opacity: 0;
  transition: all 5s ease-in-out;
}

.targetPopup:target, .popup-overlay:target {
  display: unset;
  opacity: 1;
}

.popupHeading {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  margin-bottom: 0;
  background-color: #f7f9fa;
}

.popupHeading.innerPopup {
  padding-left: 40px;
}

/* Styles the category list */
#category-list, #words-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.categoryList, .wordsList {
  overflow: auto;
  height: 165px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.categoryItem, .wordItem {
  display: flex;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  align-items: center;
  color: black;
  border-top: 1px solid #e7e8ea;
}

.wordItem {
  cursor: pointer;
}

.categoryItem:hover, .wordItem:hover {
  background-color: #f7f9fa;
}

.categoryItem > span {
  height: 40px;
  line-height: 40px;
  width: 100%;
}

.boxItem {
  padding-left: 20px;
  padding-right: 20px;
  height: 40px !important;
  cursor: pointer;
}

.more {
  position: absolute;
  cursor: pointer;
  right: 10px;
  padding-right: 20px;
  padding-left: 20px;
  height: 40px !important;
}

.wordsPopup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: all 5s ease-in-out;
}

/* ****************************************************
 *                      BUTTONS
 * ****************************************************/

/* To set the style of the power button */
#power-button {
  color: white;
  background: #17d42a;
}

#power-button.off {
  background: #eb3d34;
}

#power-button:hover {
  filter: brightness(50%);
}

/* To set the colour for popup buttons */
.popupButton {
  background-color: grey;
  color: white;
}

.popupButton:hover {
  background-color: #E2E2E2;
}

/* To set the style for back button in categories list*/
#back-button {
  top: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 13px;
  background-color: #f7f9fa;
  cursor: pointer;
}

.backButton:hover {
  background-color: #e7e8ea;
}

/* To set the style of the reveal button */
#reveal-blocked-button {
  color: white;
  background: #eb3d34;
}

#reveal-blocked-button.off {
  background: #34bdeb;
}

#reveal-blocked-button:hover {
  filter: brightness(50%);
}

/* To style the close/back button for category popup */
.targetPopup .close {
  position: absolute;
  right: 15px;
  transition: all 200ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: deepskyblue;
}

.close:hover, .back:hover {
  color: deepskyblue;
}

/*.popup-overlay {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  background: rgba(0, 0, 0, 0.7);*/
/*  transition: opacity 500ms;*/
/*  display: none;*/
/*  opacity: 0;*/
/*}*/

/*.popup {*/
/*  margin: 20px auto;*/
/*  padding: 20px;*/
/*  background: #fff;*/
/*  border-radius: 5px;*/
/*  width: 70%;*/
/*  height: 90%;*/
/*  position: relative;*/
/*  transition: all 5s ease-in-out;*/
/*}*/

/*.popup .close {*/
/*  position: absolute;*/
/*  top: 15px;*/
/*  right: 15px;*/
/*  transition: all 200ms;*/
/*  font-size: 25px;*/
/*  font-weight: bold;*/
/*  text-decoration: none;*/
/*  color: #333;*/
/*}*/

.popupTable {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.close.arrow {
  left: 15px;
  right: unset;
}

.custom-words-table-style{
  width:320px;
  height:100px;
  overflow:auto;
}

#category-list {
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
  height: 65%;
}

#custom-warning {
  color: red;
  font-size: 8px;
}

#replace-warning {
  color: red;
  font-size: 10px;
}

.category-custom-button {
    margin: 2px 2px 2px 2px;
    padding: 1px 3px 2px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
    background-color: #46a546;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}

.category-custom-button:hover{
  background-color: red;
}

.category-custom-button:hover span{
  display: none;
}

.category-custom-button:hover:after{
  content: 'DELETE';
}

.delete-word, .delete-replacement{
  background-color: red;
}

/*#replaced-list-button {*/
/*  background-color: grey;*/
/*  color: white;*/
/*  padding: 5px;*/
/*  text-align: center;*/
/*  display: inline-block;*/
/*  font-size: 12px;*/
/*  margin: 30px 0px 10px 85px;*/
/*  cursor: pointer;*/
/*}*/

/*#custom-categories-button {*/
/*  background-color: grey;*/
/*  color: white;*/
/*  padding: 3px;*/
/*  text-align: center;*/
/*  display: inline-block;*/
/*  font-size: 10px;*/
/*  margin: 5px 5px 5px 5px;*/
/*  cursor: pointer;*/
/*}*/

/*#custom-words-button {*/
/*  background-color: grey;*/
/*  color: white;*/
/*  padding: 3px;*/
/*  text-align: center;*/
/*  display: inline-block;*/
/*  font-size: 10px;*/
/*  margin: 5px 5px 5px 5px;*/
/*  cursor: pointer;*/
/*}*/

#custom-block-submit {
  margin: 5px 0px 0px 0px;
}
