/*To make the gap between the title and the statistic smaller*/
.overlay:hover {
  filter: brightness(50%);
}

.ui.basic.segment {
    margin: 0;
}

/* To add some space between statistic and bottom border */
.ui.container.center.aligned {
    margin-bottom: 10px;
}

/* To change the colour of the popup to red */
#blocked-num {
    color: red;
}
